/* top rect */

.top{
    height: 480px;
    width: 100%;
    background-image: url(./../../resource/img/library-blur.jpg);
    background-size: cover;
}

.top .menu-wrapper{
    display: fixed;
    top: 10px;
}

.top .menu{
    color: #fff;
    display: flex;
    padding: 10px 20px 10px 20px;
    font-family: 'PingFang SC';
    /* background-color: #000000a3; */
}

.top .menu-item{
    font-size: 18px;
    margin: 0px 5px 0px 5px;
}

.top .menu-item-a{
    padding: 2px 15px 2px 15px;
    border-radius: 5px;
    transition: 0.2s;
    /* background: rgba(255, 255, 255, 0.3); */
}

.top .menu-item-b{
    padding: 2px 5px 2px 5px;
    border-radius: 5px;
    transition: 0.2s;
}

.top .menu-item:hover{
    cursor: pointer;
}

.top .menu-item-a:hover,
.top .menu-item-b:hover{
    background: rgba(255, 255, 255, 0.3);
}

.top .title-wrapper{
    color: #fff;
    text-align: center;
}

.top .title{
    font-size: 65px;
    font-family: 'Source Han Sans CN Medium';
    /* font-family: 'Source Han Sans CN Heavy'; */
    margin-top: 110px;
}

.top .description{
    font-size: 26px;
    font-family: 'Source Han Sans CN Medium';
    /* font-family: 'Source Han Sans CN Heavy'; */
    margin-top: 10px;
}

/* mid rect */

.mid{
    padding: 50px 0 0 0;
    margin: auto;
    width: 1200px;
    line-height: 1;
    /* background-color: bisque; */
    /* height: 123px;; */
}

.mid .menu{
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
    color: #555555;
}

.mid .menu .menu-big-class{
    font-size: 27px;
    margin-right: 20px;
    font-family: 'Source Han Sans CN Medium';
}

.mid .menu .menu-small-class{
    font-size: 15px;
    margin-right: 10px;
    font-family: 'Source Han Sans CN Regular';
}

.mid .menu .menu-small-class::before{
    content: "/";
    font-size: 14px;
    color: #fe9d59;
    margin-right: 10px;
}

.mid .books{
    display: flex;
    /* justify-content: space-between; */
    font-family: "宋体";
}

.mid .books .book{
    margin-right: 20px;
}

.mid .books .book .cover{
    height: 185px;
    width: 185px;
    background-image: url("http://img3m8.ddimg.cn/47/0/26909138-1_b_5.jpg");
    background-color: #f3f3f3;
    background-size: cover;
}

.mid .books .book .title{
    font-size: 13px;
    margin: 5px 3px 5px 3px;
}

.mid .books .book .author{
    font-size: 12px;
    color: #888;
    margin: 5px 3px 5px 3px;
}

.mid .books .book .price-rect{
    font-size: 16px;
    margin: 5px 3px 25px 3px;
}

.mid .books .book .price-rect .after{
    font-family: "Source Han Sans CN Heavy";
    color: #CC3300;
    margin-right: 5px;
}

.mid .books .book .price-rect .before{
    font-family: "Source Han Sans CN Medium";
    color: #AAAAAA;
    text-decoration: line-through;
}

.mid .books .book .price:before{
    content: '￥';
}

.mid .books .book .btns{
    display: flex;
    margin: 5px 3px 5px 3px;
    padding: 3px 0 3px 0;

    /* font-family: "Source Han Sans CN Regular";
    color: #ffffff; */
    font-size: 12px;
    margin: 10px 3px 30px 3px;
    border-radius: 4px;
    /* border: 1px solid #CC3300; */
    background: #F5F5F5;
}

.mid .books .book .btns .btn{
    flex: 1;
    text-align: center;
    line-height: 20px;
    height: 20px;
}

.mid .books .book .btns .btn:first-child{
    border-right: 1px solid #ffffff;
}

.mid .books .book .btns embed{
    width: 18px;
    height: 18px;
}
